<% include ./partials/header %>

	<!-- Header -->
	<header id="head">
		<div class="container">
			<div class="row">
				<img class="landing-img" src="images/logo.png" alt="">
				<h1>Specialists in Construction Recruitment</h1>
				<h2>Call us now on 01646 864330</h2>
			</div>
		</div>
	</header>
	<!-- /Header -->

	<!-- Intro -->
	<div class="container text-center">
		<br> <br>
		<h2 class="thin">Recruitment is our passion</h2>
		<p class="text-muted">
			Our senior management has a combined experience of 100 years in the construction recruitment industry. We
			can fulfill all of your requirements today.
		</p>
	</div>
	<!-- /Intro-->

	<!-- Highlights - jumbotron -->
	<div class="jumbotron top-space">
		<div class="container">

			<h3 class="text-center thin">Sectors</h3>

			<div class="row">
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption">
						<h4><i class="fa fa-flash fa-5"></i>Mechanical & Electrical</h4>
					</div>
					<div class="h-body text-center">
						<p>We have supplied some of the largest projects in the UK with high quality mechanical and
							electrical staff. Our team is ready to meet your requirements no matter how big or small.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption">
						<h4><i class="fas fa-hard-hat"></i></i>Trades & Labour</h4>
					</div>
					<div class="h-body text-center">
						<p>We understand the constant changes in demand for trades and labour staff on site. That's why
							we're the best in retaining high quality staff who are available at quick turnaround. </p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption">
						<h4><i class="fas fa-drafting-compass"></i>Technical & White Collar</h4>
					</div>
					<div class="h-body text-center">
						<p>We have a specialist team who focus soley on technical and white collar positions from site
							engineers to department directors. You can rest assured that our expertise can source you
							with the best possible match for your company.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption">
						<h4><i class="fas fa-subway"></i></i>Rail & Infrastructure</h4>
					</div>
					<div class="h-body text-center">
						<p>We have a specialist Rail & Infrastructure department who are compliant with the rules and regulations of sourcing rail personnel. Rest assured your company is in the good hands of our highly trained consultants. </p>
					</div>
				</div>
			</div> <!-- /row  -->

		</div>
	</div>

<% include ./partials/footer %>