<% include ./partials/header %>


<div class='container splitter'>
    <header class="jumbotron">
        <div class='container'>
            <h1>
                Latest Jobs
            </h1>
        </div>
    </header>
    <div class="row text-center" style='display:flex; flex-wrap:wrap;'>
        
        <%allJobs.map(jobs => { %>
        <div class='col-md-3 col-sm-6'>
            <div class="thumbnail">
                <div class="caption">
                    <h1><%=jobs.title%></h1>
                    <h3><%=jobs.location%></h3>
                    <h3><%=jobs.salary%></h3>
                    <p><%=jobs.description%></p>
                    
                </div>
            </div>
        </div>
        
        <% }) %>
       
    </div>
</div>



<% include ./partials/footer %>
